
@font-face {
    font-family: "Bizin Gothic Discord";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BizinGothicDiscord-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Bizin Gothic Discord";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/BizinGothicDiscord-Bold.woff2") format("woff2");
}

* {
    font-family: "Bizin Gothic Discord", sans-serif;
}

body {
    color: #E0E0E0;
    background-color: #223;
}

#particles-js {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
}

.main {
    position: relative;
    margin: 0 auto;
}

h2 {
    font-size: 1.8em;
    color: #2980b9;
    border-bottom: 0.1em solid #2980b9;
    padding: 0.1em 0.6em;
    margin: 0.2em 0em 0.2em 0em;
    display: inline-block;
}

body a {
    color: #1096d9;
    transition: all 0.3s 0s ease;
}

body a:hover {
    color: #00c0f0;
}

h3 {
    margin: 0.4em 0em;
    font-size: 1.4em;
}

.footer {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    color: #999;
    cursor: default;
}

.document {
    border-radius: 0.6em;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.6);
}

.not-found {
    text-align: center;
}

.not-found-h1 {
    font-size: 3em;
    color: #E0E0E0;
    margin-top: 1.6em;
}

.page-top {
    text-align: center;
}

.latte-image {
    border-radius: 50%;
    border: 0.2em solid #E0E0E0;
    animation: spin-img 5s linear infinite;
}

@keyframes spin-img{
    0%{
      transform: rotate(0deg);
    }
    84%{
      transform: rotate(0deg);
    }
    86%{
      transform: rotate(30deg);
    }
    88%{
      transform: rotate(70deg);
    }
    90%{
      transform: rotate(120deg);
    }
    94%{
      transform: rotate(240deg);
    }
    96%{
      transform: rotate(290deg);
    }
    98%{
      transform: rotate(330deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.title-top {
    color: #E0E0E0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.6em;
    cursor: default;
}

.link-button-div {
    justify-content: center;
}

.link-button {
    font-size: 1.8em;
    color: #E0E0E0;
    background-color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    height: 1.8em;
    width: 5em;
    border-radius: 0.3em;
    margin: 0.2em 0.6em;
    cursor: pointer;
    border: 0.05em solid #E0E0E0;
    transition: all 0.3s 0s ease;
}

.link-button:hover {
    color: #00c0f0;
    border: 0.05em solid #00c0f0;
}

@media (max-width: 1023px) {
    html {
        font-size: 0.8rem;
    }

    .document {
        margin: 1.6em 0.4em;
        padding: 1em 2em;
    }

    .blank {
        height: 5em;
        width: 100%;
    }

    .footer {
        padding: 0em 0em 2em 0em;
    }

    .not-found {
        margin-top: 10em;
        margin-bottom: 11em;
    }

    .link-button-div {
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    .link-button {
        width: 7em;
    }

    .page-top {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .latte-image {
        width: 14em;
        height: auto;
    }
    
    .title-top {
        font-size: 2.8em;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 1rem;
    }

    .document {
        margin: 2em 10em;
        padding: 2em;
    }

    .blank {
        height: 6em;
        width: 100%;
    }

    .footer {
        padding: 0em 0em 2em 0em;
    }

    .not-found {
        margin-top: 14em;
        margin-bottom: 14em;
    }

    .link-button-div {
        display: block;
    }

    .page-top {
        margin-top: 4em;
        margin-bottom: 8em;
    }
    
    .latte-image {
        width: 16em;
        height: auto;
    }
    
    .title-top {
        font-size: 3em;
    }
}
