
@font-face {
    font-family: "Bizin Gothic Discord";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BizinGothicDiscord-Regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "Bizin Gothic Discord";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/BizinGothicDiscord-Bold.woff2") format("woff2");
    font-display: swap;
}

* {
    font-family: "Bizin Gothic Discord", sans-serif;
}

body {
    color: #E0E0E0;
    background-color: #223;
}

h2 {
    font-size: 1.8em;
    color: #2980b9;
    border-bottom: 0.1em solid #2980b9;
    padding: 0.1em 0.6em;
    margin: 0.2em 0em 0.2em 0em;
    display: inline-block;
}

body a {
    color: #1096d9;
    transition: all 0.3s 0s ease;
}

body a:hover {
    color: #00c0f0;
}

h3 {
    margin: 0.4em 0em;
    font-size: 1.4em;
}

@media (max-width: 1023px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 1rem;
    }
}
