
.slideMenu {
    position: fixed;
    display: block;
    top: 5em;
    margin-top: 1em;
    background-color: rgba(30, 30, 30, 0.9);
    backdrop-filter: blur(0.05em);          /* ぼかし効果 */
    -webkit-backdrop-filter: blur(0.05em);  /* Safari向け */
    border: 0.1em solid rgba(20, 20, 20, 0.8);
    color: #E0E0E0;
    border-radius: 0.6em;
    padding: 1em 2em 2em 2em;
    box-shadow: 0 0.2em 0.4em rgba(10, 10, 10, 0.8);
    opacity: 0;
    transition: 0.3s all ease;
    z-index: 999;
}
  
.slideMenu.open {
    right: 0.4em;
    opacity: 1;
}

@media (max-width: 1023px) {
    .slideMenu {
        width: calc(100vw - 5em);
        right: calc(-100vw);
    }
}

@media (min-width: 1024px) {
    .slideMenu {
        width: 24em;
        right: -28em;
    }
}

.menuLink {
    font-size: 1.8em;
    line-height: 1.4;
    padding: 0.2em 0.2em;
    cursor: pointer;
    text-decoration: none;
}

#githubMenu {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#xMenu {
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em 0em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#qiitaMenu {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

.snsMenuSpan {
    display: inline-block;
}

.snsMenu {
    display: flex;
    font-weight: bold;
    color: #E0E0E0;
    text-decoration: none;
    padding: 0.3em 0.5em;
    line-height: 1.8em;
    margin-right: 0.6em;
    border-radius: 0.3em;
    transition: all 0.3s 0s ease;
    cursor: pointer;
}

.snsMenu:hover {
    display: flex;
    font-weight: bold;
    background-color: #006e89;
}

.divider {
    height: 0.2em;
    width: auto;
    background-color: #555;
    margin: 1em 0em;
    border-radius: 0.1em;
}
