
.qiita-article {
    border-radius: 0.6em;
    background-color: rgb(30, 30, 40);
    transition: all 0.3s 0s ease;
    cursor: pointer;
}

.qiita-article:hover {
    background-color: rgb(50, 50, 60);
}

/*
.qiita-img-loading {
    border-radius: 0.4em;
    border: #E0E0E0 0.2em solid;
    background-color: rgb(30, 30, 40);
    aspect-ratio: 1200 / 630;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/

.qiita-img-container {
    margin: 0em;
}

.qiita-image {
    border-radius: 0.4em;
}

/*
.qiita-tag-container {
    margin-bottom: 0em;
}

.qiita-tag {
    display:inline-block;
    background-color: rgb(70, 70, 80);
    margin: 0.2em 0.2em;
    padding: 0.1em 0.4em;
    border-radius: 0.2em;
}
*/

.qiita-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.6em;
    background-color: rgb(30, 30, 40);
}

.qiita-link {
    text-decoration: none;
    color: #E0E0E0;
}

.qiita-link:hover {
    color: #E0E0E0;
}

.content-details {
    display: flex;
    margin: 1em 0 0 0;
}

.content-date {
    margin: 0 auto 0 0;
}

.content-site {
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
    background-color: #E0E0E0;
    color: #222a2e;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0.2em;
    line-height: 1.4em;
    padding: 0.2em 0.4em;
}

.site-logo {
    width: 1.4em;
    height: 1.4em;
    margin: 0 0.4em 0 0;
}

.loading-anime {
    border: 0.4em solid #E0E0E0;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    margin: 1em 0em;
    border-top: 0.4em solid #3498db;
    animation: spin 1.6s linear infinite;
}

@keyframes spin{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

@media (max-width: 1023px) {
    .qiita-article {
        padding: 1em 1em;
    }

    .qiita-article h3 {
        font-size: 1.2em;
    }

    .qiita-loading {
        padding: 1em 1em;
    }
}

@media (min-width: 1024px) {
    .qiita-article {
        margin: 1em 0em;
        padding: 2em 4em;
    }

    .qiita-loading {
        margin: 1em 3em;
        padding: 2em 4em;
    }
}
