
.contentArticle {
    border-radius: 0.6em;
    background-color: rgb(30, 30, 40);
    transition: all 0.3s 0s ease;
    cursor: pointer;
}

.contentArticle:hover {
    background-color: rgb(50, 50, 60);
}

.contentImageContainer {
    margin: 0em;
}

.contentImage {
    border-radius: 0.4em;
}

.contentLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.6em;
    background-color: rgb(30, 30, 40);
}

.contentLink {
    text-decoration: none;
    color: #E0E0E0;
}

.contentLink:hover {
    color: #E0E0E0;
}

.contentDetails {
    display: flex;
    margin: 1em 0 0 0;
}

.contentDate {
    margin: 0 auto 0 0;
}

.contentSite {
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
    background-color: #E0E0E0;
    color: #222a2e;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 0.2em;
    line-height: 1.4em;
    padding: 0.2em 0.4em;
}

.siteLogo {
    width: 1.4em;
    height: 1.4em;
    margin: 0 0.4em 0 0;
}

.loadingAnime {
    border: 0.4em solid #E0E0E0;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    margin: 1em 0em;
    border-top: 0.4em solid #3498db;
    animation: spin 1.6s linear infinite;
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

@media (max-width: 1023px) {
    .contentArticle {
        padding: 1em 1em;
    }

    .contentArticle h3 {
        font-size: 1.2em;
    }

    .contentLoading {
        padding: 1em 1em;
    }
}

@media (min-width: 1024px) {
    .contentArticle {
        margin: 1em 0em;
        padding: 2em 4em;
    }

    .contentLoading {
        margin: 1em 3em;
        padding: 2em 4em;
    }
}
