
.works-image {
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 0.4em;
}

@media (max-width: 1023px) {
    #image-portfolio {
        width: 90%;
        height: auto;
    }

    #image-turtle {
        width: 90%;
        height: auto;
    }

    #image-shilitori {
        width: 80%;
        height: auto;
    }

    #image-easyturtle {
        width: 90%;
        height: auto;
    }

    #image-lsb {
        width: 85%;
        height: auto;
    }

    #image-tkwidgets {
        width: 70%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    #image-portfolio {
        width: 70%;
        height: auto;
    }

    #image-turtle {
        width: 55%;
        height: auto;
    }
    
    #image-shilitori {
        width: 45%;
        height: auto;
    }
    
    #image-easyturtle {
        width: 55%;
        height: auto;
    }
    
    #image-lsb {
        width: 50%;
        height: auto;
    }
    
    #image-tkwidgets {
        width: 30%;
        height: auto;
    }
}
