
.worksImage {
    border-radius: 0.4em;
    max-width: 100%;
}

@media (max-width: 1023px) {
    #imagePortfolio {
        height: 12em;
        width: auto;
    }

    #imageLaCC {
        height: 12em;
        width: auto;
    }

    #imageTurtle {
        height: 14em;
        width: auto;
    }
    
    #imageShilitori {
        height: 14em;
        width: auto;
    }
    
    #imageEasyTurtle {
        height: 12em;
        width: auto;
    }
    
    #imageLSB {
        height: 14em;
        width: auto;
    }
    
    #imageTkWidgets {
        height: 12em;
        width: auto;
    }
}

@media (min-width: 1024px) {
    #imagePortfolio {
        height: 26em;
        width: auto;
    }

    #imageLaCC {
        height: 26em;
        width: auto;
    }

    #imageTurtle {
        height: 28em;
        width: auto;
    }
    
    #imageShilitori {
        height: 28em;
        width: auto;
    }
    
    #imageEasyTurtle {
        height: 26em;
        width: auto;
    }
    
    #imageLSB {
        height: 28em;
        width: auto;
    }
    
    #imageTkWidgets {
        height: 24em;
        width: auto;
    }
}
