
.works-image {
    border-radius: 0.4em;
    max-width: 100%;
}

@media (max-width: 1023px) {
    #image-portfolio {
        height: 12em;
        width: auto;
    }

    #image-lacc {
        height: 12em;
        width: auto;
    }

    #image-turtle {
        height: 14em;
        width: auto;
    }
    
    #image-shilitori {
        height: 14em;
        width: auto;
    }
    
    #image-easyturtle {
        height: 12em;
        width: auto;
    }
    
    #image-lsb {
        height: 14em;
        width: auto;
    }
    
    #image-tkwidgets {
        height: 12em;
        width: auto;
    }
}

@media (min-width: 1024px) {
    #image-portfolio {
        height: 26em;
        width: auto;
    }

    #image-lacc {
        height: 26em;
        width: auto;
    }

    #image-turtle {
        height: 28em;
        width: auto;
    }
    
    #image-shilitori {
        height: 28em;
        width: auto;
    }
    
    #image-easyturtle {
        height: 26em;
        width: auto;
    }
    
    #image-lsb {
        height: 28em;
        width: auto;
    }
    
    #image-tkwidgets {
        height: 24em;
        width: auto;
    }
}
